@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:wght@700&display=swap');


*{

margin: 0;
padding: 0;
box-sizing: border-box;
scroll-behavior: smooth;
}


/*-------------------topbar الشريط العلوي----------------*/
#topbar{
  display: flex;
  align-items: center;
  background-color: #706c6b;
  color: rgb(211, 214, 218);
  width: 100%;
                                                                                                                                                                                                                                                                                                                                                 
}
#topbar .social-links{
font-size: 16px;
font-weight: 200;
}
.social-links i{
  margin-left:5px;
}

@media (max-width:600px){
  #topbar .social-links {
    font-size: 11px;
    font-weight: 200;
}
}
/*--------------- header --------------*/

header{
  background-color:rgb(191, 188, 194);
  width: 100%;
  height:;
}
.navbar ul li {
  list-style: none;
  margin: 0 20px;
}
.logo{
  display: flex;
  align-items: center;
}
.logo img{
  width: 100px;
  
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 70px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  background: #fff;
}

#header.fixed-top {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

#header .logo h1 {
  font-size: 28px;
  margin: 0;
  padding: 10px 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#header .logo h1 a,
#header .logo h1 a:hover {
  color: #2b2320;
  text-decoration: none;
}

#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 40px;
}
 
@media (max-width:676px){
  #header .logo img {
    padding: 0;
    margin: 0;
    max-height: 98px;
    width: 162px;
}
}
.scrolled-offset {
  margin-top: 70px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 20px;
  font-size: 13px;
  color: #65534c;
  white-space: nowrap;
  text-transform: uppercase;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #c91f72;
}

.navbar .getstarted,
.navbar .getstarted:focus {
  background: #f03c02;
  padding: 8px 20px;
  margin-left: 30px;
  border-radius: 4px;
  color: #fff;
}

.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
  color: #fff;
  background: #fd490f;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 13px;
  text-transform: none;
  font-weight: 500;
  color: #581601;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: #f03c02;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #2b2320;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(14, 11, 10, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #581601;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #f03c02;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: #c91f72;
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}


/*------------------ section banner -------------------*/

#banner{
  background-image:linear-gradient(rgba(4,9,30,0.4),rgba(255,255,255,0.1)),  url(IMG-20230124-WA0190.jpg);
  background-size: cover;
  background-position: center ;
  background-repeat: no-repeat;
  color: #fff; 
}
 .container .row{
  display: flex;
  width: 100%;

}
.promo-title{
  padding: 5px 0;
  font-size: 40px;
  font-weight: 800;
  background-color: #c91f72;
  text-align: center;
  position: relative;
  top: 116px;
  
}
.text-text{
  margin-top: 10px;
  border: 1px solid #fff;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  padding: 110px 40px 20px 40px;
  margin-bottom: 40px;
}

@media (max-width:470px){

.promo-title{
  padding: 5px 0;
    font-size: 27px;
    font-weight: 800;
    background-color: #c91f72;
    text-align: center;
    position: relative;
    top: 116px;
}
  .text-text{
    margin-top: 10px;
    border: 1px solid #fff;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    padding: 110px 40px 20px 40px;
    margin-bottom: 40px;
  }
}

/*---------------------  section-section انظمه الجوده ----------------*/

.section-section{
  width: 100%;
  min-height: 100vh;
  background-image: url(img/logo-16.png );
  background-repeat: no-repeat;
  background-size: cover;
}

.section-section .container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.section-section .container h1{
  color: #c91f72;
    text-align: center;
    font-size: 40px;
    position: relative;
    top: 200px;
    right: 233px;
  
}
.section-section .container p{
  color: #ffffff;
  font-size: 27px;
  text-align: center;
  margin-top: 200px;
  position: relative;
    top: 38px;
}

@media (max-width:600px){

  .section-section {
    width: 100%;
    min-height: 93vh;
    background-image: url(img/logo-16.png);
    background-position: right;
    background-size: cover;
}
  .section-section .container h1 {
    color: #c91f72;
    text-align: center;
    font-size: 29px;
    position: relative;
    top: 202px;
    right: 8px;
}
.section-section .container p {
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  margin-top: 200px;
  position: relative;
  top: 38px;
}
}

/*------------------ Business-Business --------------------*/


.Business-Business{
  width: 100%;
  min-height: 100vh;
  background-image: url(img/gaoodah/logo-5.png);
  background-repeat: no-repeat;
 background-size: cover;
}

.Business-Business h1{
  color: #c91f72;
  text-align: right;
  position: relative;
  top: 180px;
  right: 100px;
}
.Business-Business .row {
 color: #ffffff;
 flex-direction: column;
 align-items: start;
 font-size: 20px;
 margin-top: 250px;
 margin-right: 90px;
}





/*!--------------------- banner-banner section ----------------*/

.banner-banner{
  width: 100%;
  min-height: 100vh;
  background-image: url(img/logo-6.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-banner h1{
  position: relative;
    left: 755px;
    display: flex;
    width: 30%;
    color: #ffffff;
    justify-content: center;
    background-color: rgb(178, 26 ,83,0.9);
    text-align: center;
    padding-top: 270px;
    margin-top: 30px;
}
.banner-banner p{
  font-size: 20px;
    color: #3429c4;
    text-align: right;
    position: relative;
    top: 426px;

}


@media (max-width:600px){
  .banner-banner h1{
    position: relative;
    left: 77px;
    display: flex;
    width: 94%;
    color: #ffffff;
    justify-content: center;
    background-color: rgb(206 31 114 / 70%);
    text-align: center;
    padding-top: 200px;
  }
  .banner-banner p {
    font-size: 20px;
    color: #3429c4;
    text-align: center;
    position: relative;
    top: 309px;
    right: 223px;
    width: 220%;}
}






/*---------------- servicse section  --------------*/
#servicse{
  padding: 80px 0;
  background-color: #ffffff;
}
.servicse-img{
  width: 150px;
  margin-top: 20px;
}
.servicse{
  padding: 10px;
}
.servicse h4{
  font-size: 14px;
  margin-top: 10px;
  
}
.servicse h1{
  font-size: 14px;
  
}
@media (max-width:676px){
  .servicse h4 {
   
    margin-top: 20px;
    font-size: 16px;
  }
  
}
@media (max-width:676px){
  .servicse h1{
   
    font-size: 5px;
  }
  
}
/*---------------- servicse-logo section  --------------*/
#servicse-logo{
  padding: 80px 0;
  background-color: #ffffff;
}
.servicse-img{
  width: 150px;
  margin-top: 20px;
}
.servicse-logo{
  padding: 10px;
}
.servicse-logo h4{
  font-size: 14px;
  margin-top: 10px;
  
}
.servicse-logo h1{
  font-size: 14px;
  
}
@media (max-width:676px){
  .servicse-logo h4 {
   
    margin-top: 20px;
    font-size: 16px;
  }
  
}
@media (max-width:676px){
  .servicse-logo h1{
   
    font-size: 5px;
  }
  
}


/*----------------- about-us section---------------------*/
#about-us{
  background-image: url(img/imgbac1.jpg);
  padding-bottom: 50px;
  padding-top: 50px;
}

.title-2{
  color: #c91f72;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 15px;
}
.text-2{
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  text-align: right;
}

@media (max-width:475px){
  .text-2{
    margin-top: 30px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    text-align: end;
    
  }
  .title-2 {
    color: #c91f72;
    font-size: 29px;
    font-weight: 600;
  
}
}
.blogs{
  background-color: #706c6b;
  width: 100%;
  padding: 30px 0;
    
  
}
.blogs iframe{
  width: 100%;
}
/*------------contact-icon---------------*/

.contact-icon{
 margin-top: 27px;
}
.contact-icon i{
  display: flex;
  justify-content:space-between;
  align-items: flex-start;
  flex-direction: column;
  padding: 20px 0 ;
  color: #fff;
  font-size: 33px;
}
.contact-icon span{
  text-align: right;
  position: relative;
  bottom: 70px;
  right:50px;
  color: #c7c1c1;
}
.contact-icon span h5{
  color: #ffffffe8;
    font-size: 23px;
    font-weight: 600;
}

.contactus2 .comment-blogs{
  border: none;
  position: relative;
  bottom: 60px;
}

.contactus2 .row{
  align-items: flex-start;
  justify-content: flex-start;
}
@media (max-width:700px){
  .contactus2{
      display: flex;
      flex-direction: column;
  }
  .contactus2 .comment-blogs{
      width: 100vw;
      position: relative;
      right: 40px;
  }
  .contact-icon span{
      font-size: 25px;
  }
}

/*------------------------ info-logo ---- الحوكة----------------------*/

.info-logo{
  background-image: linear-gradient(to right,rgba(0,0,0,0.1), #fffeff),url(img/logo-10.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


#info-logo p{
  color: #706c6b;
  font-size: 30px;
  text-align: center;
  margin-bottom: 51px;
}





.title-h{
  color: #ffffff;
  width: 67%;
    margin-top: 154px;
    padding: 10px 0;
    text-align: center;
    font-size: 40px;
    background-color: #c91f72;
    position: relative;
    left: 106px;
    margin-bottom: 23px;
}

@media (max-width:500px){
  .title-h {
    color: #ffffff;
    width: 55%;
    margin-top: 154px;
    padding: 10px 0;
    text-align: center;
    font-size: 30px;
    background-color: #c91f72;
    position: relative;
    left: 65px;
    margin-bottom: 23px;
}
}


/*---------------------------busness ---- الخطط الاستراتيجيه-----------------*/


.busness{
  background-image: url(img/logo-50.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 70vh;
}

.busness .container {
  width: 100%;
  min-height: 68vh;
  display: flex;
  align-items: center;
}

.busness .container h1{
  color: #c91f72;
  font-size: 35px;
  display: flex;
  justify-content: center;
  position: relative;
  right: 60px;
  top: 53px;
}
.busness .container p{
  color: #ffffff;
  font-size: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
  top: 50px;
  right: 40px;
  padding: 48px;
}
@media (max-width:500px){
  .busness .container h1 {
    color: #c91f72;
    font-size: 35px;
    display: flex;
    justify-content: center;
    position: relative;
    right: 0px;
    top: 53px;
}
.busness .container p {
  color: #ffffff;
  font-size: 17px;
  display: flex;
  justify-content: center;
  text-align: right;
  position: relative;
  top: 50px;
  right: 0px;
  padding: 48px;
}
}

/*------------------------------------------نهايه الخطط الاستراتيجيه---------------------*/















/* --------------- footer section-d-------------------- */
.text-info{
  width: 100%;
  height: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #c7c1c1;
}
.text-info .container{
  text-align: center;
}
.text-info .container .title-info{
  display: flex;
  justify-content: center;
  color: #fff;
  margin-bottom: 100px;
  
}


.logo-imag img{
  margin-top: 30px;
  text-align: center;
  width: 188px;
  min-height: 188px;
  border-radius: 50%;
}
@media (max-width:470px){
  .logo-imag img{
    margin-top: 30px;
    text-align: center;
    width: 188px;
    min-height: 188px;
    border-radius: 50%;
  }
}


/*--------------------- business -------------------*/

#business{
  height: 100%;
  background-image:  url(./img/تسجيل-علامة-تجارية-المصرية-الدولية.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 300px 0 50px 0;
}
#business p{
  width: 45%;
 margin: auto;
 font-size: 55px;
 font-weight: 600;
 color: white;
 background: rgba(0, 0, 0, 0.7);
}
@media (max-width:600px){
  #business p {
    width: 95%;
    margin: auto;
    font-size: 44px;
    font-weight: 600;
    color: white;
    position: relative;
    bottom: 34px;
    background: rgba(0, 0, 0, 0.7);
}
#business {
  height: 100vh;
  background-image: url(./img/تسجيل-علامة-تجارية-المصرية-الدولية.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 300px 0 50px 0;
}
}

/*-------------- start services--------------*/

.services2{
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 70vh;
}
#services2{
  background-image: url(./img/تسجيل-علامة-تجارية-المصرية-الدولية.jpeg);
  background-size: cover;
  background-origin: content-box;
}
.info-info h1{
  background-color:rgba(247, 2, 2, 0.4);
    padding: 10px 0;
   color: #fff;
   font-size: 40px;
   font-weight: 600;
   text-align: center;
}
.info-info p{
  background-color:rgba(255, 255, 255, 0.8); 
  color: #c91f72;
  text-align: center;
  margin: 10px 100px;
  padding: 10px 0;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 40px;
}
@media (max-width:475px){
  .info-info h1 {
    background-color: rgba(247, 2, 2, 0.4);
    padding: 10px 0;
    color: #fff;
    font-size: 25px;
    margin-right: 19px;
    font-weight: 600;
    text-align: center;
    text-align: center;
}
.info-info p {
  background-color: rgba(255, 255, 255, 0.8);
  color: #c91f72;
  text-align: center;
  margin: 0px 73px;
  padding: 10px 0;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
}
}

/*---------------------establishment-----------------*/

#establishment{
  display: flex;
  align-items: center;
  width: 100%;
  background-image: url(img/png.125.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 150px 0 150px 0;
}
#establishment h3{
  width: 45%;
  margin: auto;
  font-size: 55px;
  font-weight: 600;
  color: #c91f72;
background-color: rgba(255, 255, 255, 0.8);
padding-bottom: 8px;
}

@media (max-width:600px){
  #establishment {
    min-height: 100vh;
    display: flex;
    align-items: center;
    width: 100%;
    background-image: url(img/png.125.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 150px 0 150px 0;

  }
  #establishment h3 {
    width: 57%;
    margin: auto;
    font-size: 30px;
    min-height: 100;
    font-weight: 600;
    color: #c91f72;
    background-color: rgba(255, 255, 255, 0.8);
    padding-bottom: 8px;
}
}


/*-------------------------------- feasibility-----------------------------------*/

#feasibility{
  display: flex;
  align-items: center;
  width: 100%;
  background-image: url(img/1680697260607.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 150px 0 150px 0;
}
#feasibility h3{
  width: 45%;
  margin: auto;
  font-size: 55px;
  font-weight: 600;
  color: white;
background-color: rgba(117, 32, 89, 0.8);
padding-top: 5px ;
padding-bottom: 5px;
}
  

@media (max-width:600px){
  #feasibility h3{
    width: 75%;
    margin: auto;
    font-size: 27px;
    font-weight: 600;
    color: white;
    background-color: rgba(117, 32, 89, 0.8);
    padding-top: 5px;
    padding-bottom: 5px;
  }
}


















/*--------------------------------- banner-1---------- الحوكمه------------------------------*/

.banner-1{
  background-image: linear-gradient(to right,rgba(0,0,0,0), #050505e5),url(img/1680697260607.jpeg);
  background-size: cover;
  background-position: center;
}



.banner-1-text {
  margin-bottom: 41px;
    width: 100%;
    margin-top: 24px;
    border: 2px solid #fff;

}
@media (max-width:667px){
  .banner-1-text {
    padding: 0px 17px 0px 16px;
    margin-bottom: 41px;
    width: 100%;
    margin-top: 24px;
    border: 2px solid #fff;
}
}
.banner-1-text  h1{
  font-size: 40px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  margin-top: 73px;
    margin-bottom: 26px;
}
.banner-1-text  p{
  font-size: 18px;
  font-weight: 200;
  color: #fff;
  text-align: center;
  margin-bottom: 92px;
    direction: rtl;
}

@media (max-width:470px){
  .banner-1-text{
    margin-left: 27px;
    display: flex;
    justify-content: center;
    display: block;
  }
}































/* --------------- footer section-d-------------------- */

.footer{
  background-color:#706c6b; 
  color: #ffffff;
  text-align: center;
}
.footer-box{
  margin-top: 50px;
  padding: 40px;
}
@media (max-width:470px){
  .footer-box{
    margin-top: 50px;
    padding: 40px;
    margin-right: 44px;
  }
}
.footer-box h5{
  font-size: 25px;
  font-weight: 600;
  color: #ffffff;
}
.footer-box ul li{
  font-size: 16px;
  font-weight: 400;
  color:#fefefe96;
  
}
.footer-box ul li a{
  font-size: 15px;
  font-weight: 400;
  color:#fefefe96;
  text-decoration: none;
}

#bottnat .btn{
  border: #fff solid 1px;
  background-color: #1c1b1a;
  color: #fff;
}
.footer-box ul i{
  color: #fefefe96;
}